<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <!-- 定义日志的根目录 勿在 LogBack 的配置中使用相对路径-->
    <property name="appPath" value="helloworld/"/>
    <!-- 定义日志文件名称 -->
    <property name="appName" value="helloworld"/>

    <!-- ch.qos.logback.core.ConsoleAppender 表示控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger.%M\(%F:%line\)] %msg%n</pattern>
        </layout>
    </appender>

    <!-- added for audit -->
    <appender name="hello_stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${appPath}/logs/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按天轮转 -->
            <fileNamePattern>mylog-%d{yyyy-MM}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>6</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger.%M\(%F:%line\)] %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
        <!-- 审计日志输出格式： -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger.%M\(%F:%line\)] %msg%n</pattern>
        </layout>
    </appender>

    <!--
    root与logger是父子关系，没有特别定义则默认为root，任何一个类只会和一个logger对应，
    要么是定义的logger，要么是root，判断的关键在于找到这个logger，然后判断这个logger的appender和level。
    -->
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="hello_stdout"/>
    </root>

    <!--
    logger : 子日志  可以书写多个
    name   : 书写包名
    level  : 书写当前展示包中的日志级别
    -->


</configuration>

